{% include 'pagehead.html.twig' %}
      <h1>Registrar Dashboard</h1>
      <div class="row">
        <div class="col-md-8">
          {% if students is not empty %}
          <h2>All Students</h2>
          <ul>
            {% for student in students %}
            <li><a href="/edit_student/{{ student.getStudentId }}">{{ student.getStudentName }}, {{ student.getEnrollDate}}</a></li>
            {% endfor %}
          </ul>

          {% endif %}
        </div>
        <div class="col-md-4">
          <h2><a href="/">Home</a></h2>
          <h2><a href="/new_course">View All Courses</a></h2>
          <h2><a href="/all_departments">View All Departments</a></h2>
        </div>
      </div>
{% include 'pagefoot.html.twig' %}
