{% include 'pagehead.html.twig' %}
      <h1>Registrar Dashboard</h1>
      <div class="row">
        <div class="col-md-8">
          <h2>All Current Students</h2>
          List all students with enrollment dates here- include an edit button
          </form>
        </div>
        <div class="col-md-4">
          <h2><a href="#">Home</a></h2>
          <h2><a href="#">View All Courses</a></h2>
        </div>
      </div>
{% include 'pagefoot.html.twig' %}
