{% include 'pagehead.html.twig' %}
      <h1>Registrar Dashboard</h1>
      <div class="row">
        <div class="col-md-8">
          {% if students is not empty %}
          <h2>{{ students.getStudentName }}</h2>

          <ul>
            {% for course in courses %}
            <li>{{ course.getCourseTitle }}, {{ course.getCourseCode}}</li>
            {% endfor %}
          </ul>
          <a href="/new_student/{{ students.getStudentId }}" class="btn btn-primary">Edit Student</a>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2><a href="/">Home</a></h2>
          <h2><a href="/new_course">View All Courses</a></h2>
          <h2><a href="/all_departments">View All Departments</a></h2>
        </div>
      </div>
{% include 'pagefoot.html.twig' %}
